In [ ]:
!pip install mysql-connector-python

In [18]:
import mysql.connector as connector

try:
    # Connect to the database
    connection = connector.connect(user="root", 
                            password="localhost",
                            host="localhost",
                            db="littlelemondb")
    cursor = connection.cursor()

except:
    print("Connection failed")

In [19]:
show_tables_query = "SHOW TABLES FROM littlelemondb" 
cursor.execute(show_tables_query)
records = cursor.fetchall()

print("The following are the table names:")
for row in records:
    print(row)

The following are the table names:
('bookings',)
('customers',)
('deliverystatus',)
('menu',)
('menuitems',)
('orders',)
('staff',)

In [20]:
# Task 3: Query with table Join

join_query = """
SELECT c.customerID, c.name, c.contactNumber FROM customers AS c INNER JOIN orders ON c.customerID = orders.customerID
WHERE orders.totalCost > 60
GROUP BY customerID;
"""

#Execute the query and print the result
cursor.execute(join_query)
columns = cursor.column_names
print(columns)
result = cursor.fetchall()
for row in result:
    print(row)

('customerID', 'name', 'contactNumber')
('Cl4', 'Leon', '11-22-33')
('Cl1', 'Mike', '11-22-33')

In [21]:
cursor.close()

True